.header {
  background-color: cadetblue;
  border-bottom: 3px solid gray;
  padding: 20px 0 20px 20px;
}

.navigation {
  display: flex;
}

.linkStyle {
  text-decoration: none;
  font-size: 20px;
}

.link {
  composes: linkStyle;
  color: floralwhite;
}

.link:not(:last-child),
.activeLink:not(:last-child) {
  margin-right: 20px;
}

.activeLink {
  composes: linkStyle;
  color: tomato;
}
